.navbar{
    display: flex;
    justify-content:baseline;
    padding-left: 10px;

    
}
.categories{
   display: flex;
   justify-content:center;
   gap: 60px;
   height: 120px;
   padding: 10px;  
}
.empty{
    background-color: rgb(173, 165, 165);
    height: 10px;
}
.categories-container{
padding: 10px;
/* background-color: #4b1414; */
border-left: 20px solid rgb(173, 165, 165);
border-right: 20px solid rgb(173, 165, 165);
}

.carouselcontainer{
border-left: 20px solid rgb(173, 165, 165);
border-right: 20px solid rgb(173, 165, 165);
border-bottom: 20px solid rgb(173, 165, 165);;
position: relative;
}
.carousel-control-prev, .carousel-control-next {
position: absolute;
top: 50%;
transform: translateY(-50%);
width: 40px;
height: 90px;
background-color: rgb(255, 255, 255);
z-index: 1000; 

}
.carousel-control-prev {
left: 0;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}
.carousel-control-next {
right: 0;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
}
.displayitems {
    display: grid;
    grid-template-columns: 150px 150px;
    padding: 10px;
    gap: 10px; 
}

.d-items1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:100%;
}
.display-it{
    height: auto;
    width: 350px;
    border: 3px solid black;
    text-align: center;
}
.display-it-main{
    padding-left: 20px;
    
}

.display-all {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;;
    padding-left: 50px;
    padding-right: 50px;
    gap:50px;
}

    footer {
        background-color: #f2f2f2;
        padding: 50px 0;
    }

    .footer-links {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }

    .footer-links div {
        flex: 1;
        margin-right: 20px;
    }

    .footer-links h5 {
        margin-bottom: 20px;
        font-size: 18px;
    }

    .footer-links a {
        display: block;
        margin-bottom: 10px;
        color: #666;
        text-decoration: none;
    }

    .footer-links a:hover {
        color: #000;
    }

    hr {
        border-top: 1px solid #ddd;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    p {
        color: #666;
    }

    .container-fluid {
            margin-bottom: 100px;
        }

